{# templates/app/home.html.twig #}

{% extends "base.html.twig" %}

{% block title %} Blog Accueil {% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1> Page d'accueil</h1>

        <div class="container mt-4">
            <div class="row">
                <table class="table">
                    <caption>Liste des 5 derniers articles</caption>
                    <thead>
                        <th scope="col">Article</th>
                        <th scope="col">Action</th>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.title }}</td>
                                <td>
                                    <a href="{{ path('article_show', { article: article.id })}}" class="text-danger">Lire</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container text-right">
            <h4><a href="{{ path('article_index')}}"><span class="badge badge-danger">Voir tous les Articles</span></a></h4>
        </div>

                <div class="container mt-4">
            <div class="row">
                <table class="table">
                    <caption>Liste des 5 dernières catégories créées</caption>
                    <thead>
                        <th scope="col">Catégories</th>
                        <th scope="col">Action</th>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.title }}</td>
                                <td>
                                    <a href="{{ path('category_show', { id: category.id })}}" class="text-danger">Lire</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container text-right">
            <h4><a href="{{ path('category_index')}}"><span class="badge badge-danger">Voir toutes les Catégories</span></a></h4>
        </div>

        <div class="container mt-4">
            <div class="row">
                <table class="table">
                    <caption>Liste des 5 derniers tags créés</caption>
                    <thead>
                        <th scope="col">Tags</th>
                        <th scope="col">Action</th>
                    </thead>
                    <tbody>
                        {% for tag in tags %}
                            <tr>
                                <td>{{ tag.title }}</td>
                                <td>
                                    <a href="{{ path('tag_show', { id: tag.id })}}" class="text-danger">Lire</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container text-right">
            <h4><a href="{{ path('tag_index')}}"><span class="badge badge-danger">Voir tous les tag
        </div>

    </div>

{% endblock %}
