{# templates/_partials/navbar.html.twig #}

<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand text-success" href="{{ path('home') }}">
        ( <i class="fa fa-trophy"></i>
        + <i class="fa fa-cutlery"></i> )
    </a>

    <div class="collapse navbar-collapse d-flex justify-content-end mr-5">
        <ul class="navbar-nav pr-3">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if app.user %}
                    Bienvenue  {{ app.user.email }} !
                {% else %}
                    Se connecter
                {% endif %}
                </a>
                <div class="dropdown-menu mr-5" aria-labelledby="navbarDropdownMenuLink">
                    {% if app.user %}
                        <a class="dropdown-item" href="{{ path('app_logout') }}">
                            <i class="fa fa-sign-out"></i>
                            Déconnection
                        </a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path('app_login') }}">
                            <i class="fa fa-user"></i>
                            Connection
                        </a>
                        <a class="dropdown-item" href="{{ path('app_register') }}">
                            <i class="fa fa-user-plus"></i>
                            Créer un compte
                        </a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>