{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="container-fluid">
        <a href="{{ path('category_index') }}" class="text-danger"><i class="fa fa-angle-double-left mr-1"></i>Retour à la liste</a>

        <h1>Categorie : </h1>

        <div class="container">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ category.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ category.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ category.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card text-center border-danger" style="width: 8rem;">
            <div class="card-body">
                <h6>Actions :</h6>
                <a href="{{ path('category_edit', {'id': category.id}) }}" class="text-danger mx-1"><i class="fa fa-pencil"></i></a>
                {{ include('category/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
