{# templates/articles/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %} Blog - Articles {% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1> Liste des articles</h1>

        <div class="container my-3">
            <a href="{{ path('article_create') }}" class="text-danger">Créer un nouvel article</a>
        </div>

        <div class="container">
            {% for article in articles %}
                <div class="card border-danger mb-3">
                    <h5 class="card-header text-danger"> {{ article.title }} </h5>
                    <p class="text-right font-italic pr-2">Créé le {{ article.createdAt | date("d/m/Y", "Europe/Paris")}} </p>
                    <div class="card-body">
                        <p class="card-text">{{ article.shortContent }}</p>
                        <ul class="nav nav-pills card-footer-pills">
                            <li class="nav-item">
                                <a href="{{ path('article_show', {article: article.id}) }}" class="btn btn-outline-danger mr-3"><i class="fa fa-search"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('article_edit', {article: article.id}) }}" class="btn btn-outline-danger"><i class="fa fa-pencil"></i></a>
                            </li>
                            <li class="nav-item">
                                <form onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet article ?" action="{{ path('article_delete', {article: article.id}) }}" class="col">
                                    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                                </form>
                                {# <a onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet article ?" href="{{ path('article_delete', {article: article.id}) }}" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a> #}
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}