{% extends 'base.html.twig' %}

{% block title %}Nota Resto{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="container text-center my-3">
            <h1 class="text-success">Bienvenue sur Nota Resto</h1>
            <h5>Votre application pour noter les restaurants !</h5>
        </div>
    </div>

    <div class="container">
        <h4>Liste des 10 meilleurs restaurants : </h4>
    </div>
    <div class="row">
        <div class="container">
            <table class="table table-hover table-sm text-center">
                <thead class="table-success text-secondary">
                    <tr>
                        <th scope='col'>Nom</th>
                        <th scope='col'>Note Moyenne</th>
                    </tr>
                </thead>
                <tbody>
                {% for topTenRestaurant in topTenRestaurants %}
                    <tr>
                        <td>{{ topTenRestaurant.name }}</td>
                        <td>{{ topTenRestaurant.average | round(1) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <h4>Liste des 10 derniers restaurants enregistrés dans l'application : </h4>
    </div>
    <div class="row">
        <div class="container">
            <table class="table table-hover text-center">
                <thead class="table-success text-secondary">
                    <tr>
                        <th scope='col'>#</th>
                        <th scope='col'>Nom</th>
                        <th scope='col'>Ville</th>
                        <th scope='col'>Note Moyenne</th>
                        <th scope='col'>Description</th>
                        <th scope='col'>Photo</th>
                    </tr>
                </thead>
                <tbody>
                {% for restaurant in restaurants %}
                    <tr>
                        <th scope="row" class="text-success">{{ restaurant.id }}</td>
                        <td>{{ restaurant.name }}</td>
                        <td>{{ restaurant.city.name }}</td>
                        <td>{{ restaurant.averageRating | round(1) }}</td>
                        <td>{{ restaurant.description[:50] ~ '...' }}</td>
                        <td>Image</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
