{% extends 'base.html.twig' %}

{% block title %}Restaurants{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="container text-center my-3">
            <h1 class="text-success">Liste de tous les restaurants</h1>
        </div>

        <div class="container">
            <a class="btn btn-outline-success mb-3" href="{{ path('restaurant_new') }}">Créer un nouveau restaurant</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Ville</th>
                        <th>Note moyenne (/5)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for restaurant in restaurants %}
                    <tr>
                        <td>{{ restaurant.id }}</td>
                        <td>{{ restaurant.name }}</td>
                        <td>{{ restaurant.city.name }}</td>
                        <td>{{ restaurant.averageRating | round(1) }}</td>
                        <td>
                            <a class="text-success mx-2" href="{{ path('restaurant_show', {'restaurant': restaurant.id}) }}"><i class="fa fa-search"></i></a>
                            <a class="text-success mx-2" href="{{ path('restaurant_edit', {'restaurant': restaurant.id}) }}"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
