{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
<div class="container-fluid">
    <a class="text-success" href="{{ path('restaurant_index') }}"><i class="fa fa-angle-double-left">  Retour</i></a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="container text-center my-3">
            <h1 class="text-success">{{ restaurant.name }}</h1>
        </div>
        <div class="container">
            <div class="card mb-3">
                {% for picture in restaurant.restaurantPictures %}
                    <img src="{{ asset('/uploads/pictures/' ~ picture.filename ) }}" class="card-img-top" widht="50"alt="...">
                {% endfor %}
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="font-weight-bold mr-2">Moyenne :</span>
                            {% if restaurant.averageRating is not null %}
                                {{ restaurant.averageRating | round(1) }}
                            {% else %}
                                Ce restaurant n'a pas encore de note. Soyez les premiers à laisser un avis !
                            {% endif %}
                            <span class="font-weight-bold mx-2">  / 5 </span>
                        </li>
                        <li class="list-group-item"><span class="font-weight-bold">Ville : </span><a class="text-success" href="{{ path('city_show', {'id': restaurant.city.id }) }}">{{ restaurant.city.name }}</a></li>
                        <li class="list-group-item">{{ restaurant.description }}</li>
                        <li class="list-group-item d-flex justyfy-content-between">
                            <a class="btn btn-success mr-4" href="{{ path('restaurant_edit', {'restaurant': restaurant.id}) }}">Modifier</a>
                            {{ include('restaurant/_delete_form.html.twig') }}
                        </li>
                        <li class="list-group-item">
                                Rajouter une photo :
                                {{ form_start(formPicture) }}
                                {{ form_widget(formPicture) }}
                                <button class="btn btn-sm btn-outline-success">Envoyer</button>
                                {{ form_end(formPicture) }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <h2>Avis sur le restaurant</h2>
            <div class="card mb-2">
                <div class="card-header">
                    Rédigez un avis sur ce restaurant !
                </div>
                <div class="card-body">
                    {{ form_start(formReview) }}
                    {{ form_widget(formReview) }}
                    <button class="btn-sm btn-outline-success float-right">Envoyer</button>
                    {{ form_end(formReview) }}
                </div>
            </div>
            <h4 class="text-success my-3">Avis laissés :</h4>
            {% for review in restaurant.reviews %}
                <div class="card mt-2">
                    <div class="card-header"><span class="badge badge-success">{{review.rating}}/5</span></div>
                    <div class="card-body">{{ review.message }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}